.aboutPage {
  background-color: aliceblue;
}
.about {
  color: black;
  background-image: linear-gradient(
    180deg,
    rgb(28, 27, 27) 0%,
    #1888ff 30%,
    aliceblue
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#icon {
  font-size: 230px;
  align-items: flex-end;
}
#topText {
  font-size: 50px;
}

.divider {
  /* minor cosmetics */
  background-color: aliceblue;
  display: table;
  font-size: 24px;
  text-align: center;
  width: 90%;
  display: flex; /* spacing above/below */
  justify-content: center;
  margin: auto;
}
.divider span {
  display: table-cell;
  position: relative;
}
.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 13px; /* adjust vertical align */
  -moz-background-size: 100% 2px; /* line width */
  background-size: 100% 2px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    to(#000)
  );
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
  color: #000;
  padding: 0px 5px;
  width: auto;
  white-space: nowrap;
}
.divider span:last-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#000),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}
#iconTwo {
  font-size: 80px;
  padding-right: 5%;
  color: #1888ff;
}
.firstContentSection {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#firstContentText {
  font-size: 30px;
  inline-size: 40%;
}
.secondContentSection {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgb(240, 248, 255);
  background: linear-gradient(
    180deg,
    rgba(240, 248, 255, 1) 25%,
    rgba(36, 34, 34, 1) 100%
  );
}
#secondContentText {
  font-size: 30px;
  inline-size: 40%;
}
#iconThree {
  font-size: 80px;
  padding-left: 5%;
  color: #1888ff;
}

@media screen and (max-width: 1000px) {
  .about {
    display: flex;
    justify-content: center;
  }
  #icon {
    position: absolute;
    top: 60px;
    color: #1888ff;
    opacity: 0.5;
  }
  #topText {
    text-align: center;
    color: black;
    z-index: 1;
  }
  .firstContentSection {
    display: flex;
    justify-content: center;
  }
  #iconTwo {
    position: absolute;
    opacity: 0.5;
  }
  #firstContentText {
    inline-size: 90%;
    z-index: 1;
    text-align: center;
    font-weight: 300;
  }
  .secondContentSection {
    display: flex;
    justify-content: center;
  }
  #iconThree {
    position: absolute;
    opacity: 0.5;
  }
  #secondContentText {
    inline-size: 90%;
    z-index: 1;
    text-align: center;
    padding-bottom: 15%;
    font-weight: 300;
  }
}
