.HeaderBanner{
  background-color: black;
  justify-content: space-between;
  display: flex;
}

.navButtonsHolder{
  display: flex;
  margin-right: 60px;
  justify-content: center;
  border: none;
}
.navButtons {
  margin: 9px;
  padding: 5px;
  border: transparent;
  background-color: black;
  color: white;
}
.navButtons:hover{
  margin: 9px;
  border: transparent;
  background-color: black;
  color: rgb(0, 123, 255);

  text-decoration: underline;
}
.signUp{
  margin: 9px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-color: transparent;
  border-style: groove;
  border-radius: 5px;
  color:white;

  background-color: rgb(0, 123, 255);
}
.signUp:hover{
  cursor: pointer;
  border-style: groove;
  border-color:rgb(0, 123, 255);
  background-color: black;
}
#gridContainer{
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
.mainTitle button{
  text-align: left;
  border: transparent;
  background-color: black;
  margin-left: 80px;
  margin-top: 6px;
  margin-bottom: 3px;
  font-size: x-large;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.mainTitle button:hover{
  text-align: left;
  border: transparent;
  background-color: black;
  margin-left: 80px;
  margin-top: 6px;
  margin-bottom: 3px;
  font-size: x-large;
  font-family: sans-serif;
  cursor: pointer;
}
.card{
  opacity: 1 !important;
  padding: 2px;
  margin: 12px;
}

.cardContainer{
  background-color: rgba(34, 34, 34, 0.7);
  border: 1px solid rgb(230, 230, 230);
  margin: 15px;
  min-height: 50px;
  padding-bottom: 15px;
}
body{
  background-image: url(./bodyBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow-x: hidden;

}
