.card {
  opacity: 1 !important;
  padding: 2px;
  margin: 12px;
}

.cardContainer {
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.7);
  border: 1px solid rgb(230, 230, 230);
  margin: 15px;
  min-height: 50px;
  max-height: 100%;
  padding-bottom: 15px;
}
body {
  background-image: url(./bodyBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow-x: hidden;
}
footer{
  border-radius: 4px;
  background-color: #242222;
  width: 110%;
  min-height: 80px;
}
