.dropdownCareers ul {
  position: relative;
  background-color: aliceblue;
  z-index: -1;
  opacity: 0;
  margin-top: 5px;
  list-style: none;
  padding-left: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  box-shadow: 5px 10px 18px #88888860;
}
.dropdownCareers li:hover {
  background-color: #1888ff88;
  cursor: pointer;
}
.dropdownCareers li {
  color: black;
  text-decoration: none;
  padding-left: 9px;
  padding-right: 9px;
}
.dropdownCareers i {
  padding-left: 5px;
}
.topTitle button {
  background: none;
  border: none;
  color: #1888ff;
  font-size: 25px;
  cursor: pointer;
}
.dropdownCareers button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(2px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 1;
}
.dropdownCareers button:hover {
  color: #1888ff90;
}
.topTitle {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  font-size: 25px;
  padding-top: 2%;
  justify-content: center;
  border-bottom: 3px dotted #242424;
  height: 50px;

  overflow-y: visible;
}
.bottomHalf {
  background-color: rgb(24, 136, 255, 0.7);
  padding: 20px;
  min-height: 200px;
}
.jobCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.jobCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100px;
  background-color: #242424;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 9px #242424;
  padding: 1%;
  margin: 1%;
}
.jobCard:hover {
  background-color: #3f3f3f;
  transition: all 0.4s ease;
  cursor: pointer;
}
#cardTitle {
  font-size: 20px;
  padding-top: 5%;
  padding-left: 5%;
  text-decoration: underline;
}
#cardLocation {
  display: flex;
  color: rgb(240, 248, 255, 0.5);
  padding-left: 5%;
  padding-bottom: 5px;
  align-items: center;
}
#noResults {
  background-color: #242424;
  color: aliceblue;
}

@media screen and (max-width: 1000px) {
  .dropdownCareers i {
    display: inline-flex;
  }
}
@media screen and (max-width: 475px) {
  .topTitle {
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    height: max-content;
  }
  .dropdownCareers ul {
    width: 200px;
    margin: auto;
  }
  .jobCardContainer {
    display: flex;
    justify-content: center;
  }
  .jobCard {
    margin-bottom: 2%;
  }
  .cardHolder {
    margin: 0;
  }
}
