.carouselContainer {
  max-width: 80%;
  margin: auto;
}
.carouselContainer button {
  color: aliceblue;
  background-color: aliceblue;
}
.carouselContainer .carouselItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carouselMedia {
  border: solid #242424 1px;
  border-radius: 8px;
  border-bottom: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 218px;
  height: 200px;
}
.carouselItem {
  max-width: 220px;
}
.carouselItem :hover {
  cursor: pointer;
}
#carouselText {
  margin-top: 0;
  color: aliceblue;
  padding-top: 2px;
  text-align: center;
  border: solid #242424 1px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: transparent;
  background-color: #242424;
}
.carouselHeader {
  text-align: center;
  color: aliceblue;
  background-color: #1888ff;
  border: transparent;
  border-radius: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 3%;
}
.carouselHeader:hover {
  transition: all 0.3s ease-out;
  background-color: aliceblue;
  color: #1888ff;
  cursor: pointer;
  border: 1px solid #1888ff;
}
