.carouselContainer {
  max-width: 80%;
  margin: auto;
}

.carouselContainer .carouselItem {
}
.carouselMedia {
  border-radius: 8px;
  border-bottom: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 218px;
  height: 200px;
  margin: 0;
  margin-right: 0;
}
.carouselItem {
  display: flex;
  justify-content: center;
  text-align: center;
  border: #242424 solid 2px;
  padding: 0;
}
.carouselItem :hover {
  cursor: pointer;
}
#carouselText {
  width: 218px;
  border: #242424 solid 2px;
  margin-top: 0;
  color: #242424;
  padding-top: 2px;
  text-align: center;
}
.carouselHeader {
  text-align: center;
  color: aliceblue;
  background-color: #1888ff;
  border: transparent;
  border-radius: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 3%;
}
.carouselHeader:hover {
  transition: all 0.3s ease-out;
  background-color: aliceblue;
  color: #1888ff;
  cursor: pointer;
  border: 1px solid #1888ff;
}
.carouselContainer button {
  background-color: #1888ff;
  border-radius: 10px;
}
.carouselContainer button:focus {
  background-color: #1888ff;
  border-radius: 10px;
}
.carouselContainer button:hover {
  background-color: #1888ff;
}
