.topSpaceWithLogo {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 500px;
  width: 100%;
  background-color: rgb(22, 104, 192);
  opacity: 0.85;
  padding-top: 150px;
  padding-bottom: 150px;
}
hr.roundedDivider {
  border-top: 2px solid #bbb;
  border-radius: 8px;
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
}
.largeMessage {
  font-size: xx-large;
  flex-wrap: wrap;
  width: 100px;
  font-weight: 900;
  font-family: Garamond, serif;
  color: black;
}
.reactLogo {
  margin-left: 100px;
  height: 200px;
  width: 200px;
}
.bottomHalfHome {
  background-color: aliceblue;
  width: 100%;
  padding-bottom: 50px;
}
.titleText {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 50px;
}
.infoContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: small;
  text-align: center;
  font-weight: 600;
}
.infoContainer p {
  font-size: small;
  font-weight: 400;
  inline-size: 250px;
  overflow-wrap: break-word;
  color: black;
}
.infoContainer h1 {
  color: #1668c0;
}
.info {
  margin: 50px;
}
.waterImage {
  max-width: 45%;
  box-shadow: 0 0 20px#242424;
}
.bottomHalfMedia {
  padding-top: 10%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mediaText {
  width: 50%;
  padding-right: 15%;
  padding-top: 20%;
  inline-size: 450px;
  overflow-wrap: break-word;
  text-align: center;
  opacity: 0.7;
  font-size: 200%;
}

@media screen and (max-width: 1000px) {
  #home {
    width: 100%;
    text-align: center;
  }
  .topSpaceWithLogo {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #1668c0;
    opacity: 0.95;
  }
  .largeMessage {
    font-size: xx-large;
    flex-wrap: wrap;
    width: 100px;
    font-weight: 800;
    text-decoration-color: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
  }
  .bottomHalfHome {
    padding-bottom: 0;
  }
  .reactLogo {
    height: 100px;
    width: 100px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .waterImage {
    display: none;
  }
  .bottomHalfMedia {
    background-image: linear-gradient(aliceblue, #1668c0);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mediaText {
    padding-top: 15%;
    padding-right: 0%;
    inline-size: 350px;
    text-align: center;
    opacity: 0.8;
    font-weight: 300;
  }
}
@media screen and (min-width: 2200px) {
  .mediaText {
    inline-size: 450px;
    font-size: 250% !important;
  }
}
