.carouselContainer {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  background: aliceblue;
  border-radius: 8px;
  overflow: hidden;
  height: 288px;
  color: #fff;
  margin-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: 0 0 9px#242424;
}
.card :hover {
  cursor: pointer;
}

.card-top h1 {
  font-size: 1rem;
  text-align: center;
  font-size: 20px;
  background: #242424;
  padding-bottom: 8px;
  padding-top: 7px;
  margin-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card-top > img {
  width: 100%;
  object-fit: cover;
}
.carouselHeader {
  text-align: center;
  color: aliceblue;
  background-color: #1888ff;
  border: 1px solid #1888ff;
  border-radius: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 3%;
  box-shadow: 0 0 9px#242424;
}
.carouselHeader:hover {
  transition: all 0.3s ease-out;
  background-color: aliceblue;
  color: #1888ff;
  cursor: pointer;
  border: 1px solid #1888ff;
}
