.signInPage {
  background-color: rgba(193, 193, 193, 0.5);
}

#topLogInLogo {
  max-height: 200px;
  max-width: 200px;
}
.logInContainer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
  padding-top: 10%;
}
.userNameField {
  background-color: rgb(240, 248, 255, 0.65);
  border-radius: 20px;
  display: inline-flex;
  padding-right: 5px;
}
#createAccountBtn {
  color: white;
}
#createAccountBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.userNameLog {
  border: 0;
  outline: none;
  background: transparent;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  font-size: 20px;
}
.passwordField {
  margin-top: 30px;
  background-color: rgb(240, 248, 255, 0.65);
  border-radius: 20px;
  display: inline-flex;
  padding-right: 5px;
}
#submit {
  margin-top: 10px;
}
#userNameIcon svg {
  font-size: 20px;
  text-align: right;
  padding-left: 5px;
  padding-top: 40%;
  opacity: 0.75;
}
#passwordIcon svg {
  font-size: 20px;
  text-align: right;
  padding-left: 5px;
  padding-top: 40%;
  opacity: 0.75;
}

.passwordLog {
  border: 0;
  outline: none;
  background: transparent;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  font-size: 20px;
}
.formContainer {
  display: flex;
  flex-direction: column;
}
#submit {
  margin-top: 30px;
  background-color: #1888ff;
  color: white;
  border-radius: 20px;
  height: 40px;
  width: 340px;
  border: 0;
  font-size: 20px;
}
#switchHolder {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
}
#switchHolder label {
  margin-right: 5px;
}
#switchText {
  color: white;
}
#submit:hover {
  cursor: pointer;
  background-color: #156bc6;
  transition: all 0.4s ease-in-out;
}
#userNameIcon {
  font-size: 20px;
}
