.signUp {
  background-color: rgba(193, 193, 193, 0.5);
  padding-top: 7%;
  padding-bottom: 8%;
}
.signUpFormContainer h1 {
  margin: 0;
  font-weight: 200;
}
.signUpFormContainer {
  width: 350px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 10px black;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-weight: 200;
  margin-top: 30px;
}
.signUpForm input {
  margin-top: 5px;
  height: 30px;
  border: solid 1px black;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
}
.signUpForm input:focus {
  box-shadow: 0px 0px 5px #1888ff;
  border: #1888ff;
}
.signUpForm label {
  margin-top: 15px;
  font-weight: 400;
}
#signUpSubmit {
  margin-top: 25px;
  height: 40px;
  border: transparent;
  border-radius: 4px;
  background-color: #1888ff;
}
#signUpSubmit:hover {
  background-color: #53a6ff;
  cursor: pointer;
}
#bottomSignUp {
  margin-top: 15px;
  font-size: 10px;
  inline-size: 250px;
  text-align: center;
}
#bottomSignUpLink {
  font-size: 10px;
  text-decoration: underline;
  color: #1888ff;
}
#bottomSignUpLink:hover {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .signUpFormContainer {
    border-left: transparent;
    border-right: transparent;
    box-shadow: none;
  }
  .signUp {
    padding: 0;
  }
}
